.body {
   width: 100%;
   margin: auto;
   overflow: hidden;
}

html {
   background-image: url('../img/2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
}

header {
   padding-bottom: 1px;
   font-family: 'Dancing Script', cursive;
   font-weight: 700;
   font-size: 20px;
   text-align: center;
   color: #000;
}

#nav_container {
   margin-top: -10px;
   text-align: center;
   font-family: 'Dancing Script', cursive;
   font-weight: 400;
   font-size: 27px;
}

#nav_container ul {
   list-style: none;
}

#nav_container ul li {
   display: inline;
}

#nav_container ul li a {
   background-color: #7e1524;
   color: #fbeeda;
   padding: 7px 120px;
   text-decoration: none;
}

#nav_container ul li a:hover {
   background-color: #c0c0c0;
   color: #000;
}

.all {
   margin-left: 200px;
   width: 100%;
}

.phone {
   margin-left: 300px;
   margin-top: 100px;
   padding-top: 5px;
   width: 220px;
   height: 50px;
   background-color: #7e1524;
   color: #fbeeda;
   text-align: center;
}

.add {
   margin-left: 500px;
   margin-top: 60px;
   width: 300px;
   height: 50px;
   background-color: #7e1524;
   color: #fbeeda;
   text-align: center;
}

footer {
   padding: 1px;
   margin-top: 350px;
   color: #000;
   background-color: #c0c0c0;
   text-align: center;
}

@media all and (min-width: 1024px) and (max-width: 1600px) {
   #nav_container ul li a {
      padding: 7px 80px;
   }

   .all {
      margin-left: 50px;
   }
}

@media all and (min-width: 800px) and (max-width: 1024px) {
   #nav_container ul li a {
      padding: 7px 40px;
   }

   .all {
      margin-left: -50px;
   }
}

@media all and (min-width: 300px) and (max-width: 800px) {
   #nav_container ul li a {
      padding: 7px 3px;
   }

   #nav_container {
      margin-left: -10px;
      font-size: 20px;
   }

   header {
      font-size: 15px;
   }

   .all {
      margin-left: 10px;
      width: 100%;
   }

   .phone {
      margin-left: 80px;
      margin-top: 60px;
      padding-top: 5px;
      width: 270px;
      height: 50px;
      background-color: #7e1524;
      color: #fbeeda;
      text-align: center;
   }

   .add {
      margin-left: 80px;
      margin-top: 60px;
      width: 270px;
      height: 50px;
      background-color: #7e1524;
      color: #fbeeda;
      text-align: center;
   }

   footer {
      margin-top: 350px;
   }
}
